@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face{font-family: MainTitle; src: url(./src/fonts/);}
@font-face{font-family: TitleTitle; src: url(./src/fonts/ABCProphet-Light-Trial.otf);}
@font-face{font-family: ArticleTitle; src: url();}
@font-face{font-family: CardTitle; src: url(./src/fonts/PowerGrotesk-Regular.otf);}
@font-face{font-family: CustomFont; src: url(./src/fonts/diagramm-regular.woff2);}

:root{
    --background-color:#090303;
    --element-color:#e0ded9;
    --element-sub-color:#e8e4da77;
    --highlight-color:#ff0b58;
}

*{
    margin: 0px;
    user-select: none;
    z-index: 10;
}

body{
    background-color:var(--background-color);
}
canvas{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    z-index: -10;

    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

#mainTitle{
    width: 100%;
    font-family: MainTitle;
    color: var(--element-color);
    font-size: 4rem;
    margin-top: 4px;
    
    margin-left: 10px;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
        
    position: relative;
    overflow: hidden;
}

#cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 45%;
    perspective: 3000px;
    transform-style: preserve-3d;
    pointer-events: all;
    z-index: 0;
    
    transition-duration: 1s, 1s;
    transition-property: left, top;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.cardConActive{
    left: 0% !important;
    top: 61% !important;
}
.canvasActive{
    left: 0% !important;
    top: 45% !important;
}

#card{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: rgba(0, 136, 255, 0.001);
}
#element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    font-family: CardTitle;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--element-color);
    overflow-wrap: normal;

    transition-duration: 0.8s, 0.3s, 0.1s, 0.2s, 0.4s;
    transition-property: scale, color, transform, opacity, margin;
    transition-timing-function:cubic-bezier(0.4,0,0.6,1);
}
#element:hover{
    color:var(--highlight-color);
}
.elementActive{
    scale: 1.8;
    transform: translateX(0px);
    margin-left: -500px;
}
.elementActiveHover{
    transform: translateX(5px);
    color:var(--element-color) !important;
    opacity: 30%;
}
.elementActiveMain{
    color: var(--highlight-color) !important;
    transform: translateX(120px) translateY(5px)scale(1.5,1.5) !important;
    opacity:100% !important;
}
#titleContainer{
    width: 100vw;
    height: 100%;
    position: relative;
    background-color: var(--background-color);
}
#title{
    position: relative;
    opacity: 0%;

    color:var(--element-color);
    font-size: 2rem;

    transition-duration: 0.2s;
}
.titleActive{
    opacity:100% !important;
}
.titleAnim{
    font-family: CustomTitle;
    position: absolute;
    overflow: visible;
    animation: left 12s infinite;
    animation-timing-function: linear;
    transform: translateX(100vw);
}
.delay1{animation-delay: 1s;}
.delay2{animation-delay: 2s;}
.delay3{animation-delay: 3s;}
.delay4{animation-delay: 4s;}
.delay5{animation-delay: 5s;}
.delay6{animation-delay: 6s;}
.delay7{animation-delay: 7s;}
.delay8{animation-delay: 8s;}
.delay9{animation-delay: 9s;}
.delay10{animation-delay: 10s;}
.delay11{animation-delay: 11s;}
@keyframes left{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}

#articleContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 100%;
    left: 100%;
    border-left: solid 1px var(--element-sub-color);
    pointer-events: all;

    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.7,0,0.1,1);
}
#articleExitBtn{
    width: 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border-right: 1px var(--element-sub-color) solid;
}
#articleBox{
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
#article{
    opacity: 0%;
    transition-duration: 0.2s;
    position: absolute;
    margin-top: auto;

    background-color: rgba(128, 128, 128, 0.01);
    width: 600px;
    color: var(--element-color);
    line-height: 180%;
}
.articleConActive{
    left: 50% !important;
}
.articleActive{
    opacity: 100% !important;
}
.articleAppearDown{animation: appearDownAnim 0.2s;}
.articleAppearUp{animation: appearUpAnim 0.2s;}
.articleDisappearDown{animation: disappearDownAnim 0.2s;}
.articleDisappearUp{animation: disappearUpAnim 0.2s;}
@keyframes appearDownAnim{
    0%{transform: translateY(-500px);}
    100%{transform: translateY(0);}
}
@keyframes appearUpAnim{
    0%{transform: translateY(500px);}
    100%{transform: translateY(0);}
}
@keyframes disappearUpAnim{
    0%{transform: translateY(0);}
    100%{transform: translateY(-500px);}
}
@keyframes disappearDownAnim{
    0%{transform: translateY(0);}
    100%{transform: translateY(500px);}
}

.fontCustom1{font-family: customFont;}
.fontNoto{font-family: 'Noto Sans KR', sans-serif;}

.flex{display:flex;}
.flexColumn{flex-direction: column;}
.justifyBetween{justify-content: space-between;}
.justifyCenter{justify-content: center;}
.alignCenter{align-items: center;}

.vw100{width: 100vw;}
.w100{width:100%;}
.w50{width: 50%;}
.w30{width: 31%;}
.h100{height: 100%;}
.h95{height:95%;}
.h90{height:90%;}
.h80{height:80%;}
.h20{height:20%;}
.h10{height:10%;}
.h5{height: 5%;}

.bgBlack{background-color: rgba(0, 0, 0);}
.bgGray{background-color: gray;}
.bgBeige{background-color: beige;}

.borderWhite{border:1px var(--element-color) solid}
.borderTop{border-top:1px var(--element-sub-color) solid;}
.borderBottom{border-bottom: 1px var(--element-sub-color) solid;}
.borderRight{border-top: 1px var(--element-sub-color) solid;}
.borderLeft{border-left: 1px var(--element-sub-color) solid;}

.noPointer{pointer-events: none;}

h1{
    padding-bottom: 15px;
    font-weight: 700;
    color: var(--element-color);
}
h2{
    padding-bottom: 8px;
}
p{
    word-break: break-all;
}

#loadingOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:100%;
    transition-duration: 0.5s;
    pointer-events: all;
}
#mask{
    width: 1000px;
    height: 6.8rem;
    overflow: hidden;
}
#loadingText{
    margin-top: -10px;
    animation: loading;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.7,0,0.3,1);
    font-family: CardTitle;
    font-size: 7rem;
    color: var(--element-color);
    text-align: center;
    line-height: 7rem;
}
@keyframes loading {
    0%{transform: translateY(1em);}
    10%{transform: translateY(1em);}
    20%{transform: translateY(0em);}
    30%{transform: translateY(0em);}
    40%{transform: translateY(-1em);}
    50%{transform: translateY(-1em);}
    60%{transform: translateY(-2em);}
    70%{transform: translateY(-2em);}
    80%{transform: translateY(-3em);}
    90%{transform: translateY(-3em);}
    100%{transform: translateY(-4em);}
}
